<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">  
            <span class="fs-4">Каталог одежды</span>
          </a>
        <ul class="nav nav-pills">
          <li class="nav-item"><a href="/" class="nav-link">Главная</a></li>
          <li class="nav-item"><a href="/jeans" class="nav-link">Джинсы</a></li>
          <li class="nav-item"><a href="/jackets" class="nav-link">Куртки</a></li>
          <li class="nav-item"><a href="/shoes" class="nav-link">Обувь</a></li>
        </ul>
    </div>
    <div class="container">
    {% block body %}{% endblock %}
    </div>
    <br><br><br><br><br><br><br>
    <div class="container"><footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
                <span class="mb-3 mb-md-0 text-body-secondary">2024 г. 1 семинар</span>
        </div>
        </ul>
      </footer>
    </div>
</body>
</html>
